:root {
  --color_black: #000000;
  --color_gray1: #6c6c6c;
  --color_gray2: #9b9999;
  --color_white1: #ffffff;
  --color_white2: #f0ffff;
  --color_blue1: #5358f6;
  --color_blue2: #8d99ff;
  --color_yellow: #fffbda;
}
